.column {
	background: var(--COLOR-GRAY-DARK);
	min-height: 10rem;
	color: #fff;
	width: 33%;
	/* max-width: 20rem; */
	margin: 0 0.5rem;
	border-radius: 4px;
	padding: 0.5rem;
	border: dashed transparent 4px;
}

.column.drop {
	border-color: #fff;
}

.title-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title-wrapper p {
	font-family: 'Kanit', sans-serif;
}
.title-wrapper button {
	all: unset;
	color: #000;
	background-color: #fff;
	padding: 0.5rem;
	cursor: pointer;
	border-radius: 0.5rem;
	margin: 8px;
}

.title-wrapper button:hover {
	background-color: var(--COLOR-GRAY-LIGHT);
}

.modal {
	position: absolute;
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.modal-content {
	/* background: #54c9c1; */

	position: absolute;
	z-index: 1;
	/* padding: 1rem; */
	width: 20rem;
	height: fit-content;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 0.5rem;
}

.modal-content-top {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding: 0 0.5rem;
}

.modal-content-top p {
	font-family: 'Kanit', sans-serif;
	text-transform: capitalize;
	color: #373b44;
	color: #fff;
}
.modal-content-top button {
	all: unset;
	cursor: pointer;
}

.modal-content form {
	width: 100%;
	padding: 0 1rem;
	display: flex;
	flex-direction: column;
}
.modal-content form textarea {
	display: block;
	resize: none;
	height: 6rem;
	width: 100%;
	padding: 1rem;
	font-family: 'Gochi Hand', cursive;
	outline: none;
}

.modal-content form button {
	--b: 3px; /* border thickness */
	--s: 0.45em; /* size of the corner */
	--color: #fff;

	align-self: flex-end;
	padding: calc(0.1em + var(--s)) calc(0.5em + var(--s));
	color: #fff;
	--_p: var(--s);
	background: conic-gradient(
			from 90deg at var(--b) var(--b),
			#0000 90deg,
			var(--color) 0
		)
		var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p))
		calc(100% - var(--b) - 2 * var(--_p));
	transition: 0.3s linear, color 0s, background-color 0s;
	outline: var(--b) solid #0000;
	outline-offset: 0.6em;
	font-size: 16px;
	margin: 1rem 0;

	border: 0;

	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.modal-content form button:hover,
.modal-content form button:focus-visible {
	--_p: 0px;
	outline-color: var(--color);
	outline-offset: 0.05em;
}

.modal-content form button:active {
	background: var(--color);
	color: #fff;
}

@media (max-width: 480px) {
	.column {
		width: 100%;
	}
}
